<% include partials/header %>

<div class="ui raised very padder text container segment">
    <h3 class="ui block blue header">
        <%= foundBlog.title %>
    </h3>
    <img src="<%= foundBlog.image %>" alt="">
    <div>
        <%= foundBlog.body %>
    </div>
    <button class="ui orange basic button">
            <a href="/blogs/<%= foundBlog._id %>/edit">Edit</a>
    </button>
    <form id="deleteForm" action="/blogs/<%= foundBlog._id %>?_method=DELETE" method="POST">
        <button type="submit" class="ui red basic button">Delete</button>
    </form>
</div>

<% include partials/footer %>